* {
  box-sizing: border-box;
}

body {
  background-color: #e1f0f8;
  font-family: arial, sans-serif;
}

/******************** Header *****************/

header {
  background-color: #ffffff;
  margin: 0 auto;
  width: 60%;
  padding: 0 1rem;
}

#logo {
  margin-top: 1rem;
  margin-right: 1rem;
}

aside {
  display: inline-block;
  margin-top: 4rem;
  vertical-align: top;
  float: right;
}

#call-to-action {
  cursor: pointer;
  color: #f36240;
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: underline;
  display: inline-block;
}

#call-to-action:hover {
  color: #dc401c;
}

.contact-information {
  margin: 0 3rem;
  display: inline-block;
  text-align: right;
}

/*Часы работы*/
.contact-information h6 {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  color: #484745;
}

/*Телефон*/
.contact-information h3 {

  margin: 0;
  font-weight: 300;
  font-size: 2rem;
  color: #484745;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
}

nav ul li {
  width: 20%;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  border-right: 1px solid #5f6973;
  color: #5f6973;
}

nav ul li:hover {
  background-color: #7bc3d5;
  color: #ffffff;
}

nav ul li:last-child {
  border: none;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/***************** Main ************/

main {
  background-color: inherit;
  margin: 0 auto;
  width: 60%;
}

main header {
  background-color: inherit;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
}

#main-title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
  color: #4b4b4b;
}

#main-description {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: #4b4b4b;
}

/* Боковая панель рекомендаций */
.aside-suggest {
  display: inline-block;
  width: 20%;
  background-color: #FFFFFF;
  margin: 0;
  /* margin-right: 1rem; */
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 6px;
  float: left;
}

.aside-suggest h3 {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: lighter;
  color: #4b4b4b;
}

.aside-suggest ul {
  padding: 0;
  list-style: none;
}

.aside-suggest ul li {
  margin: 1em 0;
}

.aside-suggest ul li a {
  cursor: pointer;
  color: #8a8a8a;
  text-decoration: underline;
}

.aside-suggest ul li a:hover {
  color: #dc401c;
}

/* Основной контент */

/* левая часть основного блока */
.main-content {
  display: inline-block;
  width: 77%;
  background-color: inherit;
  float: right;
}

.main-container {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 6px;
}

.main-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #4b4b4b;
}

.image-container {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.image-container h4 {
  margin-top: 3em;
  margin-bottom: 4rem;
  color: #8a8a8a;
  font-weight: lighter;
}

/* правая часть основного блока */
.description-container {
  display: inline-block;
  vertical-align: top;
  width: 55%;
}

.description-container ul {
  color: #eb5825;
  padding: 1rem;
}

.description-container ul li span {
  color: #484848;
}

.color-select-container {
  margin-top: 2rem;
}

.discount-button {
  cursor: pointer;
  display: block;
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-color: #eb5825;
  border: 3px #eb5825;
  color: #FFFFFF;
  border-radius: 5px;
  outline: none;
}

.description-container a {
  cursor: pointer;
  text-decoration: underline;
  color: #8a8a8a;
}

/* Описание ламината */
.about-content {
  background-color: #FFFFFF;
  margin-top: 2rem;
  border-radius: 6px;
  padding: 1rem;
  counter-reset: section;
}

#sloy::before {
  content: "";
  display: block;
  background: url("../img/sloy.png") no-repeat;
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 6px 0 0;
}

#derevo::before {
  content: "";
  display: block;
  background: url("../img/derevo.png") no-repeat;
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 6px 0 0;
}


.text-container::before {
  counter-increment: section;
  content: counter(section);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 100%;
  display: inline-block;

}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


@media (max-width: 1000px) { /* тут должен быть респонсив, но я не успел :( */

  nav ul {
    flex-flow: column;
  }

}
